* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: px solid black;
    font-family: 'Nunito', sans-serif;
}

.section-select {
    padding: 40px 0 0;
}

.container-select {
    max-width: 1300px;
    margin: 0 auto;
}

.container-select .box {
    display: flex;
    flex-wrap: wrap;
}


.section-main {
    padding: 40px 0 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .col {
    width: 25%;
    padding: 10px;
}

.row .col .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: gainsboro;
    border-radius: 5px;
}

.inner-img {
    padding: 20px 0;
    width: 180px;
    height: 180px;
}

.inner-title {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.inner-text {
    font-size: 15px;
    padding: 10px 0;
}